/zadig-2.3.exe
/LibPSVR/Debug
/LibPSVR/Release
/LibPSVR/x64
/LibPSVR/.vs/LibPSVR/v15/ipch
/LibPSVR/LibPSVR.VC.db
/LibPSVR/LibPSVR.vcxproj.filters
/LibPSVR/.vs/LibPSVR/v15/Browse.VC.db
/LibPSVR/.vs/LibPSVR/v15/Browse.VC.opendb
/Device Instance Paths.txt
