/zadig-2.3.exe
/LibPSVR/Debug
/LibPSVR/Release
/LibPSVR/x64
/LibPSVR/.vs/LibPSVR/v15/ipch
/LibPSVR/LibPSVR.VC.db
/LibPSVR/LibPSVR.vcxproj.filters
/LibPSVR/.vs/LibPSVR/v15/Browse.VC.db
/LibPSVR/.vs/LibPSVR/v15/Browse.VC.opendb
/device info data.txt
/websites.txt
/Data Viewer/x64/Release/Data Viewer.log
/LibPSVR_Example/Debug
/LibPSVR_Example/Release
/LibPSVR_Example/x64
/Data Viewer/GeneratedFiles
/Data Viewer/x64/Debug
/LibPSVR/Debug DLL
/LibPSVR/Release DLL
/Data Viewer/x64/Release
/commands.xlsx
/~$commands.xlsx
