version: '{build}'
branches:
  only:
  - master
clone_folder: c:\projects\libpsvr
image:
  - Visual Studio 2017
configuration:
  - Release
  - Debug
platform:
  - x64
environment:
  matrix:
  - arch: Win64
  # - arch: #does not work, Release|x64 not a valid target
matrix:
  fast_finish: true
  
# skip unsupported combinations
init:
  - set arch=
  - if "%arch%"=="Win64" ( set arch= Win64)
  - echo %arch%
  - echo %APPVEYOR_BUILD_WORKER_IMAGE%
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" ( set generator="Visual Studio 15 2017%arch%" )
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" ( set generator="Visual Studio 14 2015%arch%" )
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2013" ( set generator="Visual Studio 12 2013%arch%" )
  - echo %generator%

before_build:
    - cmd: |-
        cmake --version
        clean.bat
        generate.bat

build_script:
    c:\projects\libpsvr\build.bat

#Zip libpsvr.lib
after_build:
    7z a .\build\Win64\libpsvr\libpsvr.zip .\build\Win64\libpsvr\libpsvr.lib -r .\include\*

# Upload zip artifact
artifacts: #
    - path: .\build\Win64\libpsvr\libpsvr.zip
      name: libpsvr
      type: zip
    
only_commits:
  files:
    - CMakeLists.txt
    - appveyor.yml
    - build.bat
    - src/

deploy:
    # Deploy to GitHub Releases
  - provider: GitHub
    release: libpsvr-$(appveyor_repo_tag_name)
    artifact:  .\build\Win64\libpsvr\libpsvr.zip    #this should be the same as a path in artifact
    draft: false
    prerelease: false
    auth_token:
        secure: R1VvzYjzOxJT4J57Fw/rY7IrsMV0j8eH/46CmT7xr/jEmqQ39ITk78vBsyUHar6v  #encrypted secure token
    on:
     appveyor_repo_tag: true       # deploy on tag push only
